.header{
    .header-top{
        height: 60px;
        line-height: 60px;//让文字垂直方向居中
        padding: 0 20px;
        text-align: right;
        a{
            margin-left: 20px;
        }
    }
    .breadcrumb{
       height: 40px;
       line-height: 40px;
       padding: 0 20px;
       border-top: 1px solid #f9c700;
       .breadcrumb-title{
           text-align: center;
       }
       .weather{
           text-align: right;
           font-size: 14px;
          .date{
              margin-left: 10px;
          }
          .weather-image{
              img{
                  height: 15px;
              }
          }
          .weather-detail{
              margin-left: 5px;
              vertical-align: middle;//垂直方向上居中
          }
        }
    }
}