@import './../../style/default.less';
.header{
    background-color: @colorM;
    .header-top{
        height: 60px;
        line-height: 60px;//让文字垂直方向居中
        padding: 0 20px;
        text-align: right;
        .logo{
            line-height: 60px;
            text-align: left;
            font-size: 18px;
            img{
                height:40px;
                vertical-align: middle;
            }
            span{
                margin-left:10px;
            }
        }
        a{
            margin-left: 20px;
            color:#f9c700;
        }
    }
    .breadcrumb{
       height: 40px;
       line-height: 40px;
       padding: 0 20px;
       border-top: 1px solid #f9c700;
       .breadcrumb-title{
           text-align: center;
           font-size: @fontC;
           &:after{
             position: absolute;
             content:'';
             top: 38px;
             left: 116px;
             border-top: 9px solid @colorM;
             border-left: 12px solid transparent;
             border-right: 12px solid transparent;
           }
       }
       .weather{
           text-align: right;
           font-size: 14px;
          .date{
              margin-left: 10px;
          }
          .weather-image{
              img{
                  height: 15px;
              }
          }
          .weather-detail{
              margin-left: 5px;
              vertical-align: middle;//垂直方向上居中
          }
        }
    }
}
.simple-page{
    .header-top{
        background: #1890ff;
        color:@colorM;
    }
    .ant-form,
    .ant-col-12,
    .weather
    {
       display: none;
    }
}